:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 220px;
    background: #e8173a;
  }
  
  mat-drawer-container {
    height: 100%;
  }
  

   
  